.articlecard {
  width: 45%;
  height: 600px;
  margin: auto;
  position: relative;
  .article-photo {
    position: absolute;

    img {
      width: 100%;
      height: auto;
      &:hover {
        opacity: 0.5;
        transition-duration: 0.5s;
      }
    }
  }
  .article-text {
    position: absolute;
    padding-left: 5%;
    h3 {
      font-family: "Raleway", sans-serif;
      text-decoration: none;
      color: #555555;
      -webkit-text-stroke: 1px black;
      letter-spacing: 3px;
      top: 350px;
    }
    p {
      text-decoration: none;
    }
  }
}
