@import "./../../index.scss";

footer {
  background-color: #555555;
  height: 250px;
  color: #a7a7a7;
  font-family: $fontFamily;
  color: white;
  .footer-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    padding: 50px;
    margin: auto;
  }
  .left-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: start;
    align-items: center;
    h1 {
      margin-top: 0;
      -webkit-text-stroke: 3px white;
      font-weight: 100;
    }
    .link-list {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 70%;
      a {
        font-family: "Raleway", sans-serif;
        font-weight: 300;
        font-size: 15px;
        font-weight: 300;
        letter-spacing: 0.5px;
        text-decoration: none;
        color: white;
      }
    }
  }
  .right-container {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    p {
      height: 100%;
      margin-top: 0;
      padding: 10px;
    }
    .form {
      display: flex;
      flex-direction: column;
      margin: 0 0 0 20px;
      width: 300px;
      input {
        background-color: #1f2022;
        margin: 5px auto;
        border-radius: 5px;
        border: none;
        width: 100%;
        color: white;
        padding: 10px;
      }
      textarea {
        background-color: #1f2022;
        resize: none;
        height: 80px;
        color: white;
        width: 100%;
        padding: 10px;
      }
    }
  }
}
