footer {
  background-color: #555555;
  height: 8vh;
  color: #a7a7a7;
}

footer img {
  width: 20px;
  height: 25px;
  object-fit: cover;
}

.footer-line {
  display: flex;
  flex-direction: row;
  max-width: 90%;
  margin: 0 auto;
  padding-top: 10px;
}

.footer-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 40%;
}

.footer-list a {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.5px;
  text-decoration: none;
  color: white;
}

.footer-icon {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 10%;
  margin-left: 45%;
}

.separation-bar {
  height: 2px;
  background-color: white;
  max-width: 90%;
  margin: 0 auto;
  opacity: 0.4;
}

.footer-list p {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 0.5px;
}
